NODE_ENV=development

WEB_PORT=5173
ADMIN_PORT=5174
API_PORT=3000
POSTGRES_PORT=5432
MEILI_PORT=7700
NGINX_PORT=8080

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/rainy_cole
JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
MEILI_HOST=http://localhost:7700
MEILI_MASTER_KEY=change-me-search
UPLOAD_DIR=./apps/api/uploads
